*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
   
   input {
  width: 98%;
  height: 50px;
  padding: 3px 5px;
  margin: 20px ;
  margin-bottom: 20px;
  border: 1px solid #a4a4ad;
  border-radius: 8px;
  font-size: 16px;
  outline: none;

 }
 
    .btn-secondary:hover{
        background-color: rgb(68, 72, 73);
        border-radius: 20px;
        color: white;
        transition: 1s ease all;
     }
    .card{
        overflow: hidden;
      }
      .card{
        width: 100%;
        height: 300px;
      
      }
      .card img:hover{
        transform: scale(1.1);
        transition: 1s ease all;
      }
      


 